@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 28px;
  letter-spacing: 0;
  letter-spacing: 0;
}

h2 {
  color: #323264;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0;
  color: #323264;
  letter-spacing: 0;
}

h3 {
  color: #323264;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0;
  color: #323264;
  letter-spacing: 0;
}

.h3caps {
  color: #323264;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1;
  color: #323264;
  letter-spacing: 1;
  text-transform: uppercase;
}

h4 {
  color: #323264;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #323264;
  letter-spacing: 0;
}

p {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}

ul li,
ol li {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 15px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
ul li::marker,
ol li::marker {
  color: #F0145A;
}

.link {
  color: #24A3FF;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #24A3FF;
  letter-spacing: 0;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 12px;
}
.link:hover {
  color: #F0145A;
}

.input {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 15px;
  color: #000;
  background: white;
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.2s ease;
}
.input::-moz-placeholder {
  color: rgb(179, 179, 186);
}
.input::placeholder {
  color: rgb(179, 179, 186);
}
.input:hover {
  box-shadow: 0 0 6px #24A3FF;
}
.input:focus {
  border-color: #24A3FF;
  box-shadow: 0 0 6px #24A3FF;
}

.btn {
  padding: 18px 30px;
  color: white;
  min-width: 180px;
  line-height: 20px;
  font-weight: bold;
  background: #24A3FF;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: #0085FF;
}
.btn:active {
  background: #006CCF;
}

.header.mobile {
  display: none;
}
.header.mobile .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: rgba(245, 245, 250, 0.2);
}
.header.mobile .header__container {
  padding: 15px 15px 0;
}

.header.desctop {
  display: block;
}

.header-mobile-dropdown {
  z-index: 1;
  max-height: 0;
  background: #FFFFFF;
  position: fixed;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  bottom: 0;
  left: 8px;
  right: 8px;
  padding: 0 12px;
  text-align: center;
  transition: max-height 0.5s ease-in;
}
.header-mobile-dropdown ul li {
  background: #F5F5FA;
  padding: 7px 14px;
  margin-bottom: 15px;
  list-style: none;
  border-radius: 12px;
  transition: background-color 0.2s ease;
}
.header-mobile-dropdown ul li:hover, .header-mobile-dropdown ul li:active {
  background: #E6E6F0;
}
.header-mobile-dropdown .link {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #24A3FF;
}
.header-mobile-dropdown .link--active {
  color: #F0145A;
}
.header-mobile-dropdown label {
  display: block;
  text-align: right;
  margin-bottom: 20px;
  margin-top: 12px;
}

.mobile-overlay {
  height: 0;
  transition: height 0.5s ease-in-out;
  position: fixed;
  inset: 0;
  background: #323264;
}

#burger:checked ~ .header-mobile-dropdown {
  visibility: visible;
  height: auto;
  max-height: 800px;
}

#burger:checked ~ .mobile-overlay {
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .header.mobile {
    display: block;
  }
  .header.desctop {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

@media screen and (min-width: 1920px) {
  .container {
    padding: 0 160px;
    max-width: 1920px;
  }
}
@media screen and (max-width: 1439px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 770px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 30px;
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .container {
    padding: 0 15px;
  }
}
.gradient {
  position: relative;
  overflow: hidden;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.gradient__bg-symbol {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 697px;
  height: 100%;
  max-height: 799px;
  pointer-events: none;
  z-index: 0;
}

.header {
  position: relative;
  z-index: 1;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding-top: 50px;
}
.header__logo {
  display: inline-flex;
  align-items: center;
}
.header__logo-slash {
  color: #F0145A;
  font-size: 24px;
  font-weight: 700;
  margin: 0 6px;
}
.header__logo-text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  color: #FFFFFF;
  letter-spacing: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}

.top-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 18px;
}

.lang-switcher {
  display: flex;
  align-items: center;
  gap: 0;
}

.small-btn {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 5px 7px;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.small-btn.active, .small-btn:hover {
  background: #F0145A;
}

.top-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 18px;
  list-style: none;
}
.top-list li {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 100%;
}
.top-list__address, .top-list__phone {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: #FFFFFF;
  letter-spacing: 0;
  display: inline-flex;
  align-items: center;
  transition: color 0.2s ease;
}
.top-list__address:hover, .top-list__phone:hover {
  color: #F0145A;
}
.top-list__phone {
  font-weight: 700;
}
.top-list__social {
  display: flex;
  align-items: center;
  height: 24px;
}
.top-list__social-icon {
  fill: #FFFFFF;
  transition: fill 0.2s ease;
}
.top-list__social-icon:hover {
  fill: #F0145A;
}

.top-list__social {
  display: flex;
  align-items: center;
}

.top-block > *:not(:last-child),
.top-list > li:not(:last-child) {
  position: relative;
}
.top-block > *:not(:last-child)::after,
.top-list > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translate(50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
  pointer-events: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  padding-bottom: 3px;
}
.nav__link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #FFFFFF;
  letter-spacing: 0;
  transition: color 0.5s ease;
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}
.nav__link:hover::after {
  transform: scaleX(1);
}
.nav__link--active {
  color: #F0145A;
}
.nav__link--active::after {
  transform: scaleX(1);
  background-color: #F0145A;
}

.burger-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.burger-menu__icon {
  color: #FFFFFF;
}

.hero {
  position: relative;
}
.hero__banner {
  position: relative;
  min-height: 684px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 275px;
  align-items: center;
}
.hero__title {
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  text-align: center;
  max-width: 800px;
}
.hero__scroll-btn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.hero__scroll-icon {
  width: 42px;
  height: 42px;
  color: #ffffff;
  transition: color 0.3s ease;
}
.hero__scroll-icon:hover {
  color: #F0145A;
}

.tabs__container {
  max-width: 1080px;
  margin: 0 auto;
}

#tabs {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#tabs ul {
  list-style: none;
  max-width: 375px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: 60px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}
#tabs li {
  display: flex;
  justify-content: flex-end;
  background: transparent;
  margin-bottom: 0;
}
#tabs li a {
  display: inline-block;
  padding: 15px 0 15px 0;
  color: #B3B3BA;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0;
  color: #B3B3BA;
  letter-spacing: 0;
  white-space: nowrap;
  transition: color 0.3s ease;
}
#tabs li a:hover {
  color: #F0145A;
}
#tabs li.ui-tabs-active a {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.ui-tabs-panel {
  flex: 1;
  max-width: 581px;
  margin-left: 60px;
  padding: 49px 0;
}
.ui-tabs-panel h2 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-bottom: 30px;
  white-space: nowrap;
}
.ui-tabs-panel p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0;
  color: #FFFFFF;
  letter-spacing: 0;
}

@media screen and (min-width: 1920px) {
  .gradient__bg-symbol {
    width: 100%;
    max-width: 873px;
    height: 100%;
    max-height: 1000px;
  }
  .hero__banner {
    min-height: 884px;
    padding-top: 369px;
  }
  .tabs__container {
    max-width: 1360px;
  }
  .ui-tabs-panel {
    max-width: 861px;
    padding: 73px 0;
  }
}
@media screen and (max-width: 1024px) {
  .gradient__bg-symbol {
    width: 100%;
    max-width: 670px;
    height: 100%;
    max-height: 768px;
  }
  .hero__banner {
    min-height: 652px;
    padding-top: 260px;
  }
  .tabs__container {
    max-width: 904px;
  }
  .ui-tabs-panel {
    max-width: 405px;
    padding: 9.5px 0;
  }
  .ui-tabs-panel h2 {
    white-space: normal;
  }
}
@media screen and (max-width: 768px) {
  .gradient__bg-symbol {
    width: 100%;
    max-width: 893.28px;
    height: 100%;
    max-height: 1024px;
  }
  .hero__banner {
    min-height: 804px;
    padding-top: 269px;
  }
}/*# sourceMappingURL=main.css.map */