   @import 'base';

   .gradient {
      position: relative;
      overflow: hidden;
      background: $gradient-supersoft;

      &__bg-symbol {
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
         max-width: 697px;
         height: 100%;
         max-height: 799px;
         pointer-events: none;
         z-index: 0;
      }
   }


   .header {
      position: relative;
      z-index: 1;

      &__container {
         @include flex-container($justifyContent: space-between, $alignItems: center, $flexWrap: nowrap);
         padding-top: 50px;
      }

      &__logo {
         display: inline-flex;
         align-items: center;

         &-slash {
            color: $color-accent;
            font-size: 24px;
            font-weight: 700;
            margin: 0 6px;
         }

         &-text {
            @include font(#FFFFFF, 400, 20px, 1, 0);
         }
      }

   }

   .header-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 18px;
   }

   .top-block {
      @include flex-container($justifyContent: flex-end, $alignItems: center, $flexWrap: nowrap, $gap: 18px);
   }

   .lang-switcher {
      display: flex;
      align-items: center;
      gap: 0;
   }

   .small-btn {
      @include font(#FFFFFF, 700, 12px, 100%, 1px);
      padding: 5px 7px;
      border-radius: 8px;
      background: transparent;
      cursor: pointer;
      transition: background 0.3s ease;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.active,
      &:hover {
         background: $color-accent;
      }
   }

   .top-list {
      @include flex-container($justifyContent: flex-end, $alignItems: center, $flexWrap: nowrap, $gap: 18px);
      list-style: none;

      li {
         display: flex;
         align-items: center;
         margin-bottom: 0;
         height: 100%;
      }

      &__address,
      &__phone {
         @include font(#FFFFFF, 400, 16px, 1, 0);
         display: inline-flex;
         align-items: center;
         transition: color 0.2s ease;

         &:hover {
            color: $color-accent;
         }
      }

      &__phone {
         font-weight: 700;
      }

      &__social {
         display: flex;
         align-items: center;
         height: 24px;
      }

      &__social-icon {
         fill: #FFFFFF;
         transition: fill 0.2s ease;

         &:hover {
            fill: $color-accent;
         }
      }
   }

   .top-list__social {
      display: flex;
      align-items: center;
   }

   .top-block>*:not(:last-child),
   .top-list>li:not(:last-child) {
      position: relative;

      &::after {
         content: '';
         position: absolute;
         top: 50%;
         right: -9px;
         transform: translate(50%, -50%);

         width: 6px;
         height: 6px;
         background-color: $color-grey-separator;
         border-radius: 50%;
         pointer-events: none;
      }
   }

   .nav {
      @include flex-container($justifyContent: flex-end, $flexWrap: nowrap, $gap: 15px);
      padding-bottom: 3px;

      &__link {
         @include font(#FFFFFF, 700, 16px, 100%, 0);
         transition: color 0.5s ease;
         position: relative;

         &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 2px;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease;
         }

         &:hover::after {
            transform: scaleX(1);
         }

         &--active {
            color: $color-accent;

            &::after {
               transform: scaleX(1);
               background-color: $color-accent;
            }
         }
      }
   }

   .burger-menu {
      display: flex;
      align-items: center;
      cursor: pointer;

      &__icon {
         color: #FFFFFF;
      }
   }

   .hero {
      position: relative;

      &__banner {
         position: relative;
         min-height: 684px;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         padding-top: 275px;
         align-items: center;
      }

      &__title {
         position: relative;
         z-index: 1;
         color: #FFFFFF;
         text-align: center;
         max-width: 800px;
      }

      &__scroll-btn {
         position: absolute;
         bottom: 25px;
         left: 50%;
         transform: translateX(-50%);
         z-index: 1;
         display: inline-flex;
         align-items: center;
         justify-content: center;
      }

      &__scroll-icon {
         width: 42px;
         height: 42px;
         color: #ffffff;
         transition: color 0.3s ease;

         &:hover {
            color: $color-accent;
         }
      }
   }

   .tabs__container {
      max-width: 1080px;
      margin: 0 auto;

   }

   #tabs {
      display: flex;
      justify-content: center;
      margin-top: 60px;

      ul {
         list-style: none;
         max-width: 375px;
         // width: 100%;
         flex-shrink: 0;
         flex-grow: 0;
         padding-right: 60px;
         border-right: 4px solid rgba(255, 255, 255, 0.3);
      }

      li {
         display: flex;
         justify-content: flex-end;
         background: transparent;
         margin-bottom: 0;

         a {
            display: inline-block;
            padding: 15px 0 15px 0;
            @include font($color-grey-text, 700, 38px, 46px, 0);
            white-space: nowrap;
            transition: color 0.3s ease;

            &:hover {
               color: $color-accent;
            }
         }

         &.ui-tabs-active {
            a {
               background-image: $gradient-red-text;
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               -moz-background-clip: text;
               -moz-text-fill-color: transparent;
            }
         }
      }
   }



   .ui-tabs-panel {
      flex: 1;
      max-width: 581px;
      // width: 100%;
      margin-left: 60px;
      padding: 49px 0;

      h2 {
         @include font(#FFFFFF, 700, 30px, 37px, 0);
         padding-bottom: 30px;
         white-space: nowrap;
      }

      p {
         @include font(#FFFFFF, 400, 19px, 30px, 0);
      }
   }

   // Адаптив

   @media screen and (min-width: 1920px) {
      .gradient {
         &__bg-symbol {
            width: 100%;
            max-width: 873px;
            height: 100%;
            max-height: 1000px;
         }
      }

      .hero {
         &__banner {
            min-height: 884px;
            padding-top: 369px;
         }
      }

      .tabs__container {
         max-width: 1360px;
      }

      .ui-tabs-panel {
         max-width: 861px;
         padding: 73px 0;
      }

   }

   @media screen and (max-width: 1024px) {
      .gradient {
         &__bg-symbol {
            width: 100%;
            max-width: 670px;
            height: 100%;
            max-height: 768px;
         }
      }

      .hero {
         &__banner {
            min-height: 652px;
            padding-top: 260px;
         }
      }

      .tabs__container {
         max-width: 904px;
      }

      .ui-tabs-panel {
         max-width: 405px;
         padding: 9.5px 0;

         h2 {
            white-space: normal;
         }
      }
   }

   @media screen and (max-width: 768px) {
      .gradient {
         &__bg-symbol {
            width: 100%;
            max-width: 893.28px;
            height: 100%;
            max-height: 1024px;
         }
      }

      .hero {
         &__banner {
            min-height: 804px;
            padding-top: 269px;
         }
      }

      .tabs__container {
      max-width: 904px;
      padding: 60px;
   }

   #tabs {
      flex-direction: column;
      align-items: stretch;

      ul {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         max-width: 100%;
         width: auto;
         flex-shrink: 0;
         gap: 30px;

         padding-right: 0;
         padding-bottom: 15px;
         border-right: none;
         border-bottom: 4px solid rgba(255, 255, 255, 0.3);

         overflow-x: auto;
         -ms-overflow-style: none;
         scrollbar-width: none;

         &::-webkit-scrollbar {
            display: none;
         }
      }

      li {
         justify-content: flex-start;
         flex-shrink: 0;

         a {
            white-space: nowrap;
            padding: 0 0 8px 0;
         }
      }
   }

   .ui-tabs-panel {
      max-width: 648px;
      margin-left: 0;
      padding: 30px 0 0;

      h2 {
         white-space: normal;
      }
   }

   }

   @media screen and (max-width: 375px) {
       .gradient {
         &__bg-symbol {
            width: 100%;
            max-width: 523px;
            height: 100%;
            max-height: 600px;
         }
      }

      .hero {
         &__banner {
            min-height: 498px;
            padding-top: 129px;
         }

         &__title {
         max-width: 315px;
      }
      }

      .ui-tabs-panel {
      max-width: 315px;
      }
   }